<article class="post-item">
  <a class="btn" href="/post/<%= post._id %>">
    <h2><%= post.title %></h2>
  </a>
  <p class="post-item-author">By <%= post.who.nickname %></p>
  <p><%= post.summary %></p>
  <p>Members: <%= post.members.length %> / <%= post.memNum %></p>
</article>
